@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-xurkit :var(--font-xurkit);
  --font-pirata : var(--font-pirata);
  --font-bebas: var(--font-bebas);
  --font-mont:var(--font-mont);
  --font-quantum:var(--font-quantum);
  --font-baron:var(--font-baron);
  --font-bad:var(--font-bad);

  --color-primary:#C8F051;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121215;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.tranis{
  transition: 0.3s ease-in-out;
}

.anim{
  transition: 0.3s ease-in-out;
}
.anim:hover{
  scale:0.9;
  cursor: pointer;
}

.cardanim{
  transition: 0.3s ease-in-out;
  cursor: pointer;
}




.card {
  position: relative;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  backface-visibility: hidden;
}


.card-back {
  display: flex;
  justify-items:center ;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 100%;
  transform: rotateY(180deg); 
}